streamlit==1.39.0
spacy==3.7.5
numpy==1.26.4
pandas==2.2.2
pdfminer.six==20231228
python-docx==1.1.2
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
flask==3.0.3

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
